{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/failed.css' %}" rel="stylesheet" />
    <title>Failed</title>
</head>
<body>
    <div class="container">
        <div class="ui middle aligned center aligned grid">
          <div class="ui eight wide column">
         
            <form class="ui large form">
                      
                <div class="ui icon negative message">
                  <i class="warning icon"></i>
                  <div class="content">
                    <div class="header">
                      Oops! Something went wrong.
                    </div>
                    <p>Saldo yang dimiliki tidak cukup</p>
                  </div>
                  
               </div>
            
                <span class="ui large teal submit fluid button">Try again</span>
            
            </form>
          </div>
        </div>
      </div>
</body>
</html>